/*  */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 80vh;
    overflow-y: auto;
}



.tip-card {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .tip-msg {
        flex: 1;
    }
    }

th, td {
    padding: 5px;
    text-align: left;
  }

  .image{
      width: 100%;
      clip-path:polygon(0 0,100% 0,100%,42%,0 23%);
     
      
  }

  .animated :hover{


    transition: 0.3s ease-in-out;
    transform: scale(1.1);


  }