<div class="main-container">
 
    <!-- <div class="sidebar" *ngIf="currentDate">
      <div class="calendar-header">
        <h2>{{ currentMonth }}</h2>
        <p>{{ currentDate | date:'fullDate' }}</p>
        <p class="live-time">{{ currentTime }}</p>
      </div>
      <div class="calendar-grid">
        <div *ngFor="let day of daysInMonth" 
             [class.today]="day.date === currentDate.getDate()">
          {{ day.date }}
        </div>
      </div>
    </div> -->
  
    <!-- Orders Section -->
    <div class="order-section">
      <h3 class="form-kev">LONGFORD CITY    <button class=" btn btn-danger " (click)="logOut()">log Out</button></h3>

      <button class="btn btn-info btn-sm" (click)="checkOrder()"  >Check Today's Order</button>
    
      
      <div class="order-container">
        <div *ngFor="let order of itemList" class="order-card">
          <h3>Order #{{ order.id }} - {{order.waiter}}</h3>
          <p>
            Status:
            <span 
              [ngClass]="{ 
                'pending': order.drink_status === 'yes', 
                'confirmed': order.drink_status === 'no' 
              }">
              {{ order.drink_status === 'yes' ? 'Pending' : order.status }}
            </span>
          </p>
          <p>Total: ₵{{ order.total }}</p>
  
          <div *ngFor="let item of order.items">
            <p><strong>{{ item.name }}</strong> (x{{ item.qty }})</p>
          </div>
  
          <button *ngIf="order.drink_status !== 'no'" (click)="confirmOrder(order.id)">Confirm Order</button>
          <span *ngIf="order.drink_status === 'no'" class="confirmed-badge">Confirmed</span>
        </div>
      </div>
    </div>
  </div>
  
  