
.login-card {
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
}
    .form-group {
        padding: 0;
    }
    .form-label {
        display: block;
        
        padding: 0 10px;
    }
    .form-kev {
        font-style: italic; /* Make the text italic */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow effect */
        color: #333; /* Text color for better contrast */
        font-size: 24px; /* Adjust size as needed */
        font-family: 'Arial', sans-serif; /* Use a clean, modern font */
      }
   
    .input-group {
        padding: 0;
        margin: 25px 0;
    }
   
    .input-group-addon {
        background: transparent;
        border: none;
      
    }
    .btn {
        width: 100%;
    }
    /* .btn-link {
        margin: 10px 0;
        color: ;
    } */

    