

      <div class="col-md-25 " style="background-color:lightgray;" >
      
      
        <div class="card card-house">
            <div class="card-header">
                </div>
  
                <div class="card-body">
  
      <form role="form " >
    
        <div class="row">
          <div class="col-sm-4">
        <div class="form-group " >
        
           
          <label for="Username">File number </label>
          <input type="text" class="form-control" placeholder="room type" ><button type ="button"><i class="fa fa-search "></i></button>
        
        </div>
        </div>
        
        
          <div class="col-sm-4">
        <div class="form-group " >
           <label for="">Description</label>
          <input type="text" class="form-control"  >
          </div>
        </div>
    
    
        <div class="col-sm-4">
          <div class="form-group " >
             <label for="">Buyer</label>
            <select name="buyer" id=""  class="form-control">
              <option value="inhouse">k@gmail.com</option>
              <option value="vacant">kofi@gmail.com</option>
            </select>
            </div>
          </div>
        
        </div>
    
    
    
        <!--status-->
        <div class="row">
          <div class="col-sm-4">
        <div class="form-group " >
        
           
          <label for="Username">Number </label>
          <input type="text" class="form-control" >
        
        </div>
        </div>
        
        
    </div>
    
  
    
        </form>
    
                </div>
                </div>

                  
        <div class="card card-house">
            <div class="card-header">
                </div>

                <div class="card-body">
  
      <form role="form " >
        <table >
          <thead >
            <tr>
              
              <th>Select<div style="font-size:10px; background: gray; color: white; float: right;"  class="badge bg-danger">{{totalItem}}</div> </th>
              <th>Item *</th>
              <th>Store</th>
              <th>Qty</th>
              <th>Unit</th>
  
              <th>Ordered qty </th>
              <th>Received qty *</th>
              <th>Delivery Date</th>
              <th>Unit Price</th>
              <th>Discount</th>
              
              <th>Total</th>
  
              <th>Vendor</th>
  
              <th>Available qty</th>
              <th>Minimum qty</th>
              
              <th>Maximum qty</th>
              <th>Delete</th>
             
             
              <!-- <th>Comments</th> -->
             
            </tr>
          </thead>
          <tbody>
            <tr>
            <td>
              <div class="form-group">
              <input type="checkbox" >
              </div>
            </td>
            <td>
              <div class="form-group">
                <select formControlName="item_name" id="" class="form-control">
                  <option value="" hidden selected>-----</option>
                  <option *ngFor="let item of itemList" value="{{item.item_name}}">{{item.item_name}}</option>
                </select>
         <button type="button"
               >
              <i class ="fa fa-plus"  data-toggle="modal" data-target="#myModal"></i></button>
            </div>
            </td>
            <td> 
              <div class="form-group">
                <input type="text" class="form-control" ><button type="button"
                >
                  <i class ="fa fa-plus"  data-toggle="modal" data-target="#myModal"></i></button>
          </div>
          </td>
          
            <td>
              <div class="form-group">
              <input type="number" value="0"  class="form-control">
            </div>
            </td>
            <td>  <div class="form-group">
              <select name="room-state" id="" class="form-control" >
                <option value="0">------</option>
                <option value="01" >choose</option>
              </select>
            </div></td>
            <td> <div class="form-group">
              <input type="number" value="0.0"  class="form-control">
              </div>
            </td>
            <td>
            <div class="form-group">
              <input type="number" value="0.0" class="form-control" >
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="date"  class="form-control">
                </div>
            </td>
            <td> <div class="form-group">
              <input  type="number" value="0.0" class="form-control" >
              </div>
            </td>
  
            <td> <div class="form-group">
              <input type="number" value="0.0" class="form-control">
              </div>
            </td>
            <td> <div class="form-group">
              <input type="number" value="0.0" class="form-control" >
              </div>
            </td>
            <td><div class="form-control">
              mff
            </div></td>
            <td> <div class="form-group" >
              <input type="number"  class="form-control" >
              </div>
            </td> 
            <td> <div class="form-group" >
              <input type="number"  class="form-control" >
              </div>
            </td>
            <td> <div class="form-group" >
              <input type="number" class="form-control" >
              </div>
            </td>
  
            <td> <div class="form-group" >
              <input type="checkbox" class="form-control" >
              </div>
            </td> 
  
          </tr>
  
  

  
  
  
  
          </tbody>
        </table>
    
        <!-- <div class="row">
          <div class="col-sm-4"> -->
        <button class="btn btn-info" >Save and edit</button>
        <!-- </div>
        </div> -->
        
        <!-- <div class="col-sm-4"> -->
          <button class="btn btn-warning " >Save and add</button>
          <!-- </div>
          </div> -->
          
          <!-- <div class="col-sm-4"> -->
            <button class="btn btn-success" >Save</button>
            <!-- </div>
            </div>
            
  
    </div>
    
      -->
        </form>
    
  
  
        
    
    </div>
    </div>
    </div>
  
  
    <div class="modal col-md-12" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
             <h4 class="modal-title" style="font-size: medium;">Add New Item</h4>
            <button type="button"
             class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body col-md-16" style="overflow: scroll;">
            <form [formGroup]="itemForm" (ngSubmit)="addItem(itemForm.value)">
  
              <div class="row">
                <div class="col-sm-4">
              <div class="form-group " >
              
                 
                <label for="code"> Item Name </label>
               <input type="text" class="form-control" placeholder="item name" formControlName="item_name">
               
              
              </div>
              </div>
              
              
                <div class="col-sm-4">
              <div class="form-group " >
                 <label for="from date" >Type</label><br>
                 <select name="" id="" class="form-control"  formControlName="item_type">
                  <option value="0">-------</option>
                  <option value="Kitchen">Kitchen</option>
                  <option value="Bar">Bar</option>
                  <option value="Reception">Reception</option>
                  <option value="Pool">Pool</option>
                </select>
                </div>
              </div>
          
          
              <div class="col-sm-4">
                <div class="form-group " >
                   <label for="to date">Purchase request authoriazation level</label>
                   <select name="" id="" class="form-control"  formControlName="auth_level">
                    <option value="0">-------</option>
                    <option value="admin">01</option>
                    <option value="">02</option>
                    <option value="0">03</option>
                  </select>
                  </div>
                </div>
              
              </div>
          
          
          
              <!--status-->
              <div class="row">
                <div class="col-sm-4">
              <div class="form-group " >
              
                 
                <label for="Username">Evaluation Price </label>
                <select name="" id="" class="form-control"  formControlName="evaluation_price">
                  <option value="Last Purchase">Last purchase</option>
                  <option value="Average Per Store">Average per store</option>
                  
                </select>
              
              </div>
              </div>
              
              
               
          
              <div class="col-sm-4">
                <div class="form-group " >
                  <label for="serial">Number</label>
                  <input type="text" class="form-control" placeholder="" formControlName="item_number" >
                    
                  </div>
                </div>
          
                <div class="col-sm-4">
                  <div class="form-group " >
                    <label for="recuring">Description</label><br>
                    <input type="text" class="form-control" placeholder=""  formControlName="description" >
                    </div>
                  </div>
               
          </div>
          
          
          
          
          <div class="row">
            <div class="col-sm-4">
          <div class="form-group " >
          
             
            <label for="gl period">Base Unit </label>
            <select  id="" class="form-control"  formControlName="base_unit">
              <option value="">---</option>
              <option value="Kg">Kg</option>
              <option value="m">m</option>
              <option value="mm">mm</option>
              
            </select>
          
          </div>
          </div>
          
          
           
          
          <div class="col-sm-4">
            <div class="form-group " >
              <label for="account">Store Unit</label>
              <select formControlName="store_unit" id="" class="form-control">
                <option value="Kg">Kg</option>
                <option value="m">m</option>
                <option value="mm">mm</option>
               
                
              </select>
                
              </div>
            </div>
          
            <div class="col-sm-4">
              <div class="form-group " >
                <label for="recuring">Expires</label><br>
                <input type="date" class="form-control"  formControlName="expire_date" >
                  
                </div>
              </div>
           
          </div>
          
          
          
          
          
          
          <div class="row">
            <div class="col-sm-4">
          <div class="form-group " >
          
             
            <label for="from post date">Sales Price </label>
            <input type="text" class="form-control" value="0.0"  formControlName="sales_price">
                  
          
          </div>
          </div>
          
          
           
          
          <div class="col-sm-4">
            <div class="form-group " >
              <label for="to posting date">Recipe</label>
              <input type="text"  formControlName="recipe" class=form-control>
               
                
              
              </div>
            </div>
          
            <div class="col-sm-4">
              <div class="form-group " >
                <label for="system Locked">Open price</label><br>
               <input type="checkbox" class="form-control" formControlName="open_price">
               
                  
                </div>
              </div>
           
          </div>
          
          
          
          
          
          
          
          <div class="row">
            <div class="col-sm-4">
          <div class="form-group " >
          
             
            <label for="from post date">Voided </label>
            <select name="" id="" class="form-control" formControlName="voided">
                <option value="" hidden selected>------</option>
              <option value="All">All</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          
          </div>
          </div>
          
          
           
          
          <div class="col-sm-4">
            <div class="form-group " >
              <label for="to posting date" >Open Item</label><br>
             <input type="checkbox" formControlName="open_item" >
                
              </div>
            </div>
          
            <div class="col-sm-4">
              <div class="form-group " >
                <label for="system Locked">Receiving Store</label><br>
                <select name="" id="" class="form-control" formControlName="receiving_store">
                  <option value="0">----</option>
                  <option value="one">one</option>
                  <option value="two">two</option>
                 
                </select>
               
                  
                </div>
              </div>
           
          </div>
          
       
  
          
          <div class="row">
            
  
          
          
    
      
  
  
          <div class="col-sm-4">
            <div class="form-group">
            <label for="">Last recieved date</label>
           <input type="date" class="form-control" formControlName="last_date">
          
          </div>
          </div>
  
          <div class="col-sm-4">
            <div class="form-group">
            <label for="">Last recieved price</label>
           <input type="text" class="form-control" formControlName="last_price">
            
          </div>
          </div>
  
      <div class="col-sm-4">
            <div class="form-group">
            <label for="">Last recieved quantity</label>
           <input type="text" class="form-control" formControlName="last_quantity">
           
          </div>
          </div>
  
          </div>
          
          <div class="row" style="float: right;">
            <div class="col-sm-4">
             <button type="submit" class="btn btn-info" style="float: right;">Search</button>
            </div>
          
          
             <div class="col-sm-4" >
              <button class="btn btn-success"   type="submit"><i class="fa fa-plus"> Add New</i></button>
             </div>
            </div>
          
          
              </form>
          
            
  </div>
  
  
      
          
          <!-- Modal footer -->
           <div class="modal-footer">
            <!-- <button type="button"
               class="btn btn-danger" data-dismiss="modal">Close</button> -->
          
      </div>
   
  
  
  