<div class="col-md-15 " style="background-color:lightgray" >
    <div class="card card-house">
        <div class="card-header">
          <!-- <h5 class="card-title">Edit Profile</h5> -->
      
  
    <button class="btn btn-success"  ><i class="fa fa-plus" routerLink="/add-purchase" > Add New</i></button>
</div>
  

    <div class="card-body">
  
  <form role="form " >

    <div class="row">
      <div class="col-sm-4">
    <div class="form-group " >
    
       
      <label for="Username">File number </label>
      
      <input type="text" class="form-control" placeholder="room type" ><button type ="button"><i class="fa fa-search "></i></button>
    
    </div>
    </div>
    
    
      <div class="col-sm-4">
    <div class="form-group " >
       <label for="">Description</label>
      <input type="text" class="form-control"  >
      </div>
    </div>


    <div class="col-sm-4">
      <div class="form-group " >
         <label for="">Buyer</label>
        <select name="buyer" id="" class="form-control">
          <option value="inhouse">k@gmail.com</option>
          <option value="vacant">kofi@gmail.com</option>
        </select>
        </div>
      </div>
    
    </div>



    <!--status-->
    <div class="row">
      <div class="col-sm-4">
    <div class="form-group " >
    
       
      <label for="Username">Number </label>
      <input type="text" class="form-control"  >
    
    </div>
    </div>
    
    
      <div class="col-sm-4">
    <div class="form-group " >
      <label for="from">From Date </label>
      <input type="date" class="form-control"  >
        
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group " >
        <label for="from">To Date </label>
        <input type="date" class="form-control"  >
          
        </div>
      </div>
</div>

  


   <button type="submit" class="btn btn-info" >Search</button>
 


  


    </form>
</div>
    </div>

    <div class="card card-house">
        <div class="card-header">
          <!-- <h5 class="card-title">Edit Profile</h5> -->
        </div>

        <div class="card-body">

  <form role="form " >
    <table class="table table-responsive"  style="width:100%">
      <thead >
        <tr>
          <th> #</th>
          <th>Item</th>
          <th>Quantity</th>
          <th>Description</th>
          <th>Date*</th>
          <th>Buyer</th>

          <th>Status</th>
         
          <!-- <th>Comments</th> -->
         
        </tr>
      </thead>
      <tbody>
        <tr>
        <td style="font-weight: bold;">
          1
        </td>
        <td style="font-weight: bold;"> 
         order
      </td>
      
        <td style="font-weight: bold;">
            2020-09-01
        </td >
        <td style="font-weight: bold;">  
          
        </td >
        <td style="font-weight: bold;"> 
          Pending approval
        </td >
      </tr>
 
      </tbody>
      
    </table>


 
    </form></div></div>


</div>