<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #722F37;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <!-- <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search..." id="mysearch">
          <div class="input-group-addon">
            <i class="nc-icon nc-zoom-split"></i>
          </div>
        </div>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <!-- Notification Bell Icon -->
       
        <!-- Avatar -->
        <!-- <li class="dropdown">
          <img src="../../../assets/img/default-avatar.png" style="border-radius: 50%; width: 2rem; height: 2rem; object-fit: cover;">
        </li> -->
        
        <!-- Session Buttons -->
        <li class="dropdown">
          <button class="btn btn-success btn-sm" id="newSession" (click)="startSession()" *ngIf="status !== 'current'">Start Session</button>
          <button class="btn btn-warning btn-sm" id="closeSession" (click)="closeSession(id)" *ngIf="status === 'current'">Close Session</button>
        </li>
        
        <!-- Logout Button -->
        <li>
          <button class="btn btn-danger btn-sm" type="button" (click)="logout()" style="margin-left: 0.5rem;">
            <i class="fa fa-sign-out" style="font-size: 1.25rem;"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
