<style>
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .dropdown-container {
    padding-left: 5px;
    background-color: #ffff;
    display: none;
    color: black;
  }

  .dropdown-container-child {
    padding-left: 5px;
    display: none;
    background-color: #fff;
    color: black;
  }

  .dropdown-container-child #fina {
    color: black;
  }

  .dropdown-container #fina {
    color: black;
  }

  .dropdown-container li {
    border-bottom: none;
  }

  li {
    border-bottom: 1px solid white;
  }

  #fina {
    color: white;
  }
  #fina:hover {
    background-color: transparent;
  }

  /* Active state for dropdowns */
  .dropdown-container.active,
  .dropdown-container-child.active {
    display: block;
  }

  /* Rotate caret when active */
  .rotate-caret {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
</style>

<div class="sidebar-wrapper" style="background-color: black;">
  <ul class="nav" id="navlink">
    <br><br><br>
    
    <!-- Dashboard - Visible to All -->
    <li>
      <a id="fina" routerLink="dashboard">
        <i id="fina" class="fa fa-tachometer text-primar">&nbsp;</i>
        <span>Dashboard</span>
      </a>
    </li>

    <!-- ==================== ADMIN ONLY SECTION ==================== -->
    <ng-container *ngIf="user[0].roles == 'admin'">
      
      <!-- Users & Sessions -->
      <li class="transparent">
        <a id="fina" class="dropdown-toggle" data-target="userDropdown">
          <i id="fina" class="fa fa-user">&nbsp;</i>
          <span>User&nbsp;</span>
          <i id="fina" class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
        </a>
      </li>
      <div class="dropdown-container" id="userDropdown">
        <li><a id="fina" routerLink="all-users"><i class="fa fa-users">&nbsp;</i><span>Users&nbsp;</span></a></li>
        <li><a id="fina" routerLink="all-sessions"><i class="fa fa-users">&nbsp;</i><span>Sessions&nbsp;</span></a></li>
      </div>

      <!-- Customers -->
      <li>
        <a id="fina" routerLink="customers">
          <i id="fina" class="fa fa-user-circle">&nbsp;</i><span>Customer&nbsp;</span>
        </a>
      </li>

      <!-- Employee -->
      <li class="transparent">
        <a id="fina" class="dropdown-toggle" data-target="employeeDropdown">
          <i id="fina" class="fa fa-users">&nbsp;</i><span>Employee&nbsp;</span>
          <i id="fina" class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
        </a>
      </li>
      <div class="dropdown-container" id="employeeDropdown">
        <li><a id="fina" style="font-size: small;" routerLink="employees"><i class="fa fa-list">&nbsp;</i>All</a></li>
        <li class="transparent">
          <a id="fina" style="font-size: small;" class="dropdown-toggle-child" data-target="attendanceDropdown">
            <i class="fa fa-calendar-o">&nbsp;</i>Attendance
          </a>
        </li>
        <div class="dropdown-container-child" id="attendanceDropdown">
          <li><a id="fina" style="font-size: small;" routerLink="attendance"><i class="fa fa-list">&nbsp;</i>Attendance List</a></li>
        </div>
      </div>

      <!-- Department -->
      <li><a id="fina" style="font-size: small;" routerLink="department"><i class="fa fa-building">&nbsp;</i>Department</a></li>

      <!-- Finance (Admin Full Access) -->
      <li class="transparent">
        <a id="fina" class="dropdown-toggle" data-target="financeDropdown">
          <i id="fina" class="fa fa-money">&nbsp;</i><span>Finance&nbsp;</span>
          <i id="fina" class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
        </a>
      </li>
      <div class="dropdown-container" id="financeDropdown">
        <li><a id="fina" routerLink="add-budget"><i class="fa fa-money">&nbsp;</i><span>Budget&nbsp;</span></a></li>
        <li><a id="fina" routerLink="expenses"><i class="fa fa-balance-scale">&nbsp;</i><span>Expenses&nbsp;</span></a></li>
        <li><a id="fina" routerLink="income"><i class="fa fa-handshake-o">&nbsp;</i><span>Income&nbsp;</span></a></li>
        
        <!-- PayRoll Submenu -->
        <li class="transparent">
          <a id="fina" style="font-size: small;" class="dropdown-toggle-child" data-target="payrollDropdown">
            <i class="fa fa-dollar">&nbsp;</i>PayRoll
          </a>
        </li>
        <div class="dropdown-container-child" id="payrollDropdown">
          <li><a id="fina" style="font-size: small;" routerLink="/salary-template"><i class="fa fa-calculator">&nbsp;</i>Salary Template</a></li>
          <li><a id="fina" style="font-size: small;" routerLink="/salary-payment"><i class="fa fa-money">&nbsp;</i>Make Payment</a></li>
        </div>

        <li><a id="fina" style="font-size: small;" routerLink="/gop-deduction"><i class="fa fa-minus">&nbsp;</i>GOP deductions</a></li>
        
        <!-- Accounts Receivable Submenu -->
        <li class="transparent">
          <a id="fina" style="font-size: small;" class="dropdown-toggle-child" data-target="receivableDropdown">
            <i class="fa fa-money">&nbsp;</i>Accounts Receiv.
          </a>
        </li>
        <div class="dropdown-container-child" id="receivableDropdown">
          <li><a id="fina" style="font-size: small;" routerLink="/account-receivable"><i class="fa fa-calendar-o">&nbsp;</i>Daily</a></li>
          <li><a id="fina" style="font-size: small;" routerLink="/account-receivable-dates"><i class="fa fa-calendar-o">&nbsp;</i>Dates Between</a></li>
        </div>

        <li><a id="fina" style="font-size: small;" routerLink="/balance-sheet"><i class="fa fa-balance-scale">&nbsp;</i>Balance Sheet</a></li>
        
        <!-- General Ledger Submenu -->
        <li class="transparent">
          <a id="fina" style="font-size: small;" class="dropdown-toggle-child" data-target="ledgerDropdown">
            <i class="fa fa-book">&nbsp;</i>General Ledger
          </a>
        </li>
        <div class="dropdown-container-child" id="ledgerDropdown">
          <li><a id="fina" style="font-size: small;" routerLink="/general-ledger"><i class="fa fa-calendar-o">&nbsp;</i>Daily</a></li>
          <li><a id="fina" style="font-size: small;" routerLink="/general-ledger-dates"><i class="fa fa-calendar-o">&nbsp;</i>Different Dates</a></li>
        </div>

        <li><a id="fina" style="font-size: small;" routerLink="/financial-overview"><i class="fa fa-line-chart">&nbsp;</i>Financial Overview</a></li>
      </div>

      <!-- Reports -->
      <li class="transparent">
        <a id="fina" class="dropdown-toggle" data-target="reportsDropdown">
          <i id="fina" class="fa fa-file">&nbsp;</i><span>Reports &nbsp;</span>
          <i id="fina" class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
        </a>
      </li>
      <div class="dropdown-container" id="reportsDropdown">
        <li><a id="fina" style="font-size: small;" routerLink="/budget-report"><i class="fa fa-calendar">&nbsp;</i>Budget</a></li>
        <li><a id="fina" style="font-size: small;" routerLink="/detailed-report"><i class="fa fa-calendar">&nbsp;</i>Detailed Summary</a></li>
        <li><a id="fina" style="font-size: small;" routerLink="/detailed-report-week"><i class="fa fa-calendar">&nbsp;</i>Weekly Summary</a></li>
        <li><a id="fina" style="font-size: small;" routerLink="/daily-order-report"><i class="fa fa-calendar">&nbsp;</i>Daily Income</a></li>
        <li><a id="fina" routerLink="canceled-order"><i class="fa fa-close">&nbsp;</i><span>Canceled Order&nbsp;</span></a></li>
      </div>

      <!-- Inventory -->
      <li class="transparent">
        <a id="fina" class="dropdown-toggle" data-target="inventoryDropdown">
          <i id="fina" class="fa fa-building">&nbsp;</i><span>Inventory &nbsp;</span>
          <i id="fina" class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
        </a>
      </li>
      <div class="dropdown-container" id="inventoryDropdown">
        <li><a id="fina" style="font-size: small;" routerLink="/purchase-request"><i class="fa fa-dollar">&nbsp;</i>Purchase Request</a></li>
        <li><a id="fina" style="font-size: small;" routerLink="/purchase-order"><i class="fa fa-shopping-basket">&nbsp;</i>Purchase Order</a></li>
        <li><a id="fina" style="font-size: small;" routerLink="/item-receieved"><i class="fa fa-list">&nbsp;</i>Received Items</a></li>
        <li><a id="fina" style="font-size: small;" routerLink="/return-request"><i class="fa fa-hand-lizard-o">&nbsp;</i>Return Request</a></li>
        <li><a id="fina" style="font-size: small;" routerLink="/print-voucher"><i class="fa fa-print">&nbsp;</i>Purchase Voucher</a></li>
        
        <!-- Stock Submenu -->
        <li class="transparent">
          <a id="fina" class="dropdown-toggle-child" data-target="stockDropdown">
            <i class="fa fa-hourglass-3">&nbsp;</i><span>Stock &nbsp;</span>
            <i class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
          </a>
        </li>
        <div class="dropdown-container-child" id="stockDropdown">
          <li><a id="fina" style="font-size: small;" routerLink="item-stock"><i class="fa fa-pencil">&nbsp;</i>Manage Stock</a></li>
          <li><a id="fina" style="font-size: small;" routerLink="item-transfer"><i class="fa fa-exchange">&nbsp;</i>Transfer Stock</a></li>
          <li><a id="fina" style="font-size: small;" routerLink="outside-stock-transfer"><i class="fa fa-exchange">&nbsp;</i>Transfer Out</a></li>
        </div>
      </div>

      <!-- POS -->
      <li>
        <a id="fina" href="/item-list">
          <i class="fa fa-calculator">&nbsp;</i><span>POS &nbsp;</span>
        </a>
      </li>

      <!-- Settings -->
      <li class="transparent">
        <a id="fina" class="dropdown-toggle" data-target="settingsDropdown">
          <i class="fa fa-cog">&nbsp;</i><span>Settings &nbsp;</span>
          <i class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
        </a>
      </li>
      <div class="dropdown-container" id="settingsDropdown">
        <!-- Accounts Settings -->
        <li class="transparent">
          <a id="fina" class="dropdown-toggle-child" data-target="accountsSettingsDropdown">
            <i class="fa fa-calculator">&nbsp;</i><span>Accounts &nbsp;</span>
            <i class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
          </a>
        </li>
        <div class="dropdown-container-child" id="accountsSettingsDropdown">
          <li><a id="fina" style="font-size: small;" routerLink="/account-group"><i class="fa fa-briefcase"></i> Account Groups</a></li>
          <li><a id="fina" style="font-size: small;" routerLink="/add-account"><i class="fa fa-bank"></i> Account</a></li>
        </div>

        <!-- Inventory Settings -->
        <li class="transparent">
          <a id="fina" class="dropdown-toggle-child" data-target="inventorySettingsDropdown">
            <i class="fa fa-building">&nbsp;</i><span>Inventory &nbsp;</span>
            <i class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
          </a>
        </li>
        <div class="dropdown-container-child" id="inventorySettingsDropdown">
          <li><a id="fina" style="font-size: small;" routerLink="item"><i class="fa fa-shopping-cart">&nbsp;</i>Item</a></li>
          <li><a id="fina" style="font-size: small;" routerLink="item-category"><i class="fa fa-mars-double">&nbsp;</i>Item Categories</a></li>
          <li><a id="fina" style="font-size: small;" routerLink="item-unit"><i class="fa fa-balance-scale">&nbsp;</i>Item Unit</a></li>
          <li><a id="fina" style="font-size: small;" routerLink="item-family"><i class="fa fa-cubes">&nbsp;</i>Item Family</a></li>
          <li><a id="fina" style="font-size: small;" routerLink="item-store"><i class="fa fa-building-o">&nbsp;</i>Store</a></li>
        </div>

        <!-- Vendors -->
        <li class="transparent">
          <a id="fina" class="dropdown-toggle-child" data-target="vendorsDropdown">
            <i class="fa fa-group">&nbsp;</i><span>Vendors &nbsp;</span>
            <i class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
          </a>
        </li>
        <div class="dropdown-container-child" id="vendorsDropdown">
          <li><a id="fina" style="font-size: small;" routerLink="vendor"><i class="fa fa-users"></i>Vendors</a></li>
          <li><a id="fina" style="font-size: small;" routerLink="/pages/payment-list">Vendor Tax Code</a></li>
        </div>

        <!-- Staff -->
        <li class="transparent">
          <a id="fina" class="dropdown-toggle-child" data-target="staffDropdown">
            <i class="fa fa-users">&nbsp;</i><span>Staff &nbsp;</span>
            <i class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
          </a>
        </li>
        <div class="dropdown-container-child" id="staffDropdown">
          <li><a id="fina" style="font-size: small;" routerLink="/pages/payment-list">Staff levels</a></li>
          <li><a id="fina" style="font-size: small;" routerLink="/pages/payment-list">Staff nights</a></li>
        </div>

        <!-- Invoice Reminders -->
        <li class="transparent">
          <a id="fina" class="dropdown-toggle-child" data-target="invoiceDropdown">
            <i class="fa fa-file">&nbsp;</i><span>Invoice Reminders &nbsp;</span>
            <i class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
          </a>
        </li>
        <div class="dropdown-container-child" id="invoiceDropdown">
          <li><a id="fina" style="font-size: small;" routerLink="/account-receivable">Accounts Receivable</a></li>
        </div>
      </div>

    </ng-container>

    <!-- ==================== ACCOUNTING ONLY SECTION ==================== -->
    <ng-container *ngIf="user[0].roles == 'accountant'">
      
      <!-- Finance (Accountant Access - Limited) -->
      <li class="transparent">
        <a id="fina" class="dropdown-toggle" data-target="accountantFinanceDropdown">
          <i id="fina" class="fa fa-money">&nbsp;</i><span>Finance&nbsp;</span>
          <i id="fina" class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
        </a>
      </li>
      <div class="dropdown-container" id="accountantFinanceDropdown">
        <li><a id="fina" routerLink="add-budget"><i class="fa fa-money">&nbsp;</i><span>Budget&nbsp;</span></a></li>
        <li><a id="fina" routerLink="expenses"><i class="fa fa-balance-scale">&nbsp;</i><span>Expenses&nbsp;</span></a></li>
        <li><a id="fina" routerLink="income"><i class="fa fa-handshake-o">&nbsp;</i><span>Income&nbsp;</span></a></li>
        
        <!-- PayRoll Submenu - Accountant can access -->
        <li class="transparent">
          <a id="fina" style="font-size: small;" class="dropdown-toggle-child" data-target="accountantPayrollDropdown">
            <i class="fa fa-dollar">&nbsp;</i>PayRoll
          </a>
        </li>
        <div class="dropdown-container-child" id="accountantPayrollDropdown">
          <li><a id="fina" style="font-size: small;" routerLink="/salary-template"><i class="fa fa-calculator">&nbsp;</i>Salary Template</a></li>
          <li><a id="fina" style="font-size: small;" routerLink="/salary-payment"><i class="fa fa-money">&nbsp;</i>Make Payment</a></li>
        </div>

        <li><a id="fina" style="font-size: small;" routerLink="/balance-sheet"><i class="fa fa-balance-scale">&nbsp;</i>Balance Sheet</a></li>
         <li><a id="fina" style="font-size: small;" routerLink="/general-ledger-dates"><i class="fa fa-calendar-o">&nbsp;</i>General Ledger</a></li>
          <li><a id="fina" style="font-size: small;" routerLink="/account-receivable-dates"><i class="fa fa-calendar-o">&nbsp;</i>Accounts Receivable</a></li>
      
        <li><a id="fina" style="font-size: small;" routerLink="/financial-overview"><i class="fa fa-line-chart">&nbsp;</i>Financial Overview</a></li>
      </div>

      <!-- Reports (Accountant Access) -->
      <li class="transparent">
        <a id="fina" class="dropdown-toggle" data-target="accountantReportsDropdown">
          <i id="fina" class="fa fa-file">&nbsp;</i><span>Reports &nbsp;</span>
          <i id="fina" class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
        </a>
      </li>
      <div class="dropdown-container" id="accountantReportsDropdown">
        <li><a id="fina" style="font-size: small;" routerLink="/budget-report"><i class="fa fa-calendar">&nbsp;</i>Budget</a></li>
        <li><a id="fina" style="font-size: small;" routerLink="/detailed-report-week"><i class="fa fa-calendar">&nbsp;</i>Detailed Summary</a></li>
        <li><a id="fina" style="font-size: small;" routerLink="/daily-order-report"><i class="fa fa-calendar">&nbsp;</i>Daily Income</a></li>
      </div>

    </ng-container>

    <!-- ==================== HR ONLY SECTION ==================== -->
    <ng-container *ngIf="user[0].roles == 'hr'">
      
      <!-- Employee Management -->
      <li class="transparent">
        <a id="fina" class="dropdown-toggle" data-target="hrEmployeeDropdown">
          <i id="fina" class="fa fa-users">&nbsp;</i><span>Employee&nbsp;</span>
          <i id="fina" class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
        </a>
      </li>
      <div class="dropdown-container" id="hrEmployeeDropdown">
        <li><a id="fina" style="font-size: small;" routerLink="employees"><i class="fa fa-list">&nbsp;</i>All Employees</a></li>
        <li class="transparent">
          <a id="fina" style="font-size: small;" class="dropdown-toggle-child" data-target="hrAttendanceDropdown">
            <i class="fa fa-calendar-o">&nbsp;</i>Attendance
          </a>
        </li>
        <div class="dropdown-container-child" id="hrAttendanceDropdown">
          <li><a id="fina" style="font-size: small;" routerLink="attendance"><i class="fa fa-list">&nbsp;</i>Attendance List</a></li>
        </div>
      </div>

      <!-- Department -->
      <li><a id="fina" style="font-size: small;" routerLink="department"><i class="fa fa-building">&nbsp;</i>Department</a></li>

      <!-- Reports (HR Access) -->
      <li class="transparent">
        <a id="fina" class="dropdown-toggle" data-target="hrReportsDropdown">
          <i id="fina" class="fa fa-file">&nbsp;</i><span>Reports &nbsp;</span>
          <i id="fina" class="fa fa-caret-down dropdown-arrow" style="float:right;"></i>
        </a>
      </li>
      <div class="dropdown-container" id="hrReportsDropdown">
        <li><a id="fina" style="font-size: small;" routerLink="/detailed-report"><i class="fa fa-calendar">&nbsp;</i>Detailed Summary</a></li>
      </div>

    </ng-container>

    <!-- ==================== PROFILE - Visible to All ==================== -->
    <li>
      <a id="fina" routerLink="user">
        <i id="fina" class="fa fa-user fa-fw">&nbsp;</i><span>Profile</span>
      </a>
    </li>

  </ul>
</div>

<!-- JavaScript for Dropdown Toggle -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Toggle parent dropdowns
    document.querySelectorAll('.dropdown-toggle').forEach(function(toggle) {
      toggle.addEventListener('click', function(e) {
        e.preventDefault();
        var targetId = this.getAttribute('data-target');
        var dropdown = document.getElementById(targetId);
        var arrow = this.querySelector('.dropdown-arrow');
        
        if (dropdown) {
          dropdown.classList.toggle('active');
          if (arrow) {
            arrow.classList.toggle('rotate-caret');
          }
        }
      });
    });

    // Toggle child dropdowns
    document.querySelectorAll('.dropdown-toggle-child').forEach(function(toggle) {
      toggle.addEventListener('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        var targetId = this.getAttribute('data-target');
        var dropdown = document.getElementById(targetId);
        var arrow = this.querySelector('.dropdown-arrow');
        
        if (dropdown) {
          dropdown.classList.toggle('active');
          if (arrow) {
            arrow.classList.toggle('rotate-caret');
          }
        }
      });
    });

    // Close dropdowns when clicking outside
    document.addEventListener('click', function(e) {
      var isDropdownElement = e.target.closest('.dropdown-toggle') || 
                             e.target.closest('.dropdown-toggle-child') ||
                             e.target.closest('.dropdown-container') ||
                             e.target.closest('.dropdown-container-child');
      
      if (!isDropdownElement) {
        document.querySelectorAll('.dropdown-container.active, .dropdown-container-child.active').forEach(function(dropdown) {
          dropdown.classList.remove('active');
        });
        document.querySelectorAll('.rotate-caret').forEach(function(arrow) {
          arrow.classList.remove('rotate-caret');
        });
      }
    });
  });
</script>