<div class="page" style="text-align: center; padding-top: 50px;">

  <div class="row justify-content-center">
    <div class="card card-block login-card" style="max-width: 600px; padding: 30px;">
      <h3 class="form-label" style="margin-bottom: 20px; font-weight: bold;">Register</h3>
      
      <form enctype="multipart/form-data" [formGroup]="createForm" (ngSubmit)="registerGuest(createForm.value)">
        
        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-addon addon-left" id="username">
              <i class="fa fa-user fa-fw"></i>
            </span>
            <label for="firstname" class="form-label">First Name</label>
            <input class="form-control" placeholder="First Name" type="text" formControlName="firstname">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-addon addon-left" id="username">
              <i class="fa fa-user fa-fw"></i>
            </span>
            <label for="lastname" class="form-label">Last Name</label>
            <input class="form-control" placeholder="Last Name" type="text" formControlName="lastname">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-addon addon-left" id="address">
              <i class="fa fa-address fa-fw"></i>
            </span>
            <label for="address" class="form-label">Address</label>
            <input class="form-control" placeholder="Street Address" type="text" formControlName="address">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-addon addon-left" id="phone">
              <i class="fa fa-phone fa-fw"></i>
            </span>
            <label for="phone" class="form-label">Phone Number</label>
            <input class="form-control" placeholder="Phone Number" type="text" formControlName="phone">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-addon addon-left" id="email">
              <i class="fa fa-envelope fa-fw"></i>
            </span>
            <label for="email" class="form-label">Email</label>
            <input class="form-control" placeholder="Email Address" type="email" formControlName="email">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-addon addon-left" id="about">
              <i class="fa fa-info-circle fa-fw"></i>
            </span>
            <label for="about" class="form-label">About</label>
            <input class="form-control" placeholder="Tell us about yourself" type="text" formControlName="about">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-addon addon-left" id="city">
              <i class="fa fa-city fa-fw"></i>
            </span>
            <label for="city" class="form-label">City</label>
            <input class="form-control" placeholder="City" type="text" formControlName="city">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-addon addon-left" id="username">
              <i class="fa fa-user fa-fw"></i>
            </span>
            <label for="username" class="form-label">Username</label>
            <input class="form-control" placeholder="User Account" type="text" formControlName="username">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <span class="input-group-addon addon-left" id="password">
              <i class="fa fa-lock fa-fw"></i>
            </span>
            <label for="password" class="form-label">Password</label>
            <input class="form-control" placeholder="Password" type="password" formControlName="password">
          </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px;">Register</button>
      </form>
    </div>
  </div>
</div>

