.page {
    padding: 20px;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .table {
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: center;
  }
  
  .table th {
    background-color: #f1f1f1;
  }
  
  .bg-secondary {
    background-color: #6c757d;
  }
  
  .text-white {
    color: white;
  }
  
  .text-secondary {
    color: #6c757d;
  }
  
  .table-light {
    background-color: #f8f9fa;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  
  .text-end {
    text-align: right;
  }
  
  .card-body p {
    margin-bottom: 10px;
  }
  
  .card-body h5 {
    font-size: 18px;
    font-weight: 600;
  }
  
  .btn {
    font-size: 14px;
    padding: 8px 12px;
  }
  
  .mr-3 {
    margin-right: 1rem;
  }
  
  .ms-2 {
    margin-left: 0.5rem;
  }
  