


<div class="container" >

<div class="row  ">



  <div class="col-md-3 animated fadeIn" style="width: 30%; height: 50%;"  routerLink ="/home/room-view" >
    <img src="../../../assets/img/room.jpg"   alt="room" class="image" >
    <div class="card card-block tip-card" >
   
      <div class="tip-msg">
        <h3 >Rooms</h3>
        <br><br>
        <span> </span>

      </div>
    
        <!-- <i routerLink="/home/room-view" class="fa fa-check-circle fa-fw fa-2x text-success"></i> -->
     
    </div>
  </div>


  <div class="col-md-3 animated fadeIn"style="width: 40%; "   >
    <img src="../../../assets/img/menu.jpg"   alt="menu" class="image" >
    <div class="card card-block tip-card" >
      <div class="tip-msg">
        <h3>Menu</h3>
        <br><br>
        <span> </span>
      </div>
    
        <!-- <i routerLink="/room/room-list" class="fa fa-check-circle fa-fw fa-2x text-warning"></i> -->
     
    </div>
  </div>

  <div class="col-md-3 animated fadeIn" style="width: 60%;" routerLink="/home/custom-reserve">
    <img src="../../../assets/img/book.jpg"   alt="appointment" class="image" >
    <div class="card card-block tip-card " >
      <div class="tip-msg">
        <h3>Book</h3>
        <span></span>
      </div>
    
        <!-- <i routerLink="/room/room-list" class="fa fa-check-circle fa-fw fa-2x text-info"></i> -->
     
    </div>
  </div>


 


  </div>



  <div class="col-md-3 animated fadeIn" style="width: 30%;"   routerLink="/home/track-reservation">
    <img src="../../../assets/img/track.jpg"   alt="menu" class="image" >
    <div class="card card-block tip-card" >
      <div class="tip-msg">
        <h3>Track Reservation</h3>
        <br><br>
        <span> </span>
      </div>
    
        <!-- <i routerLink="/room/room-list" class="fa fa-check-circle fa-fw fa-2x text-warning"></i> -->
     
    </div>
  </div>



</div>