<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Order</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th>Total</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>#382</td>
        <td>April 9,2023</td>
        <td>pending Payment</td>
        <td>$1,217.00 for 1 item</td>
        <td><button class="btn btn-info">Pay</button><button class="btn btn-warning">view</button></td>
      </tr>
      
    </tbody>
  </table>